/*-------------- NOSOTROS -------------*/
.actividades{
    margin-top: 40px;
}

.imagenes:hover{
    transform: scale(1.1);
}

.parrafo1{
    display: flex;
    flex-wrap: wrap;
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    .parrafo1 div{
        /* flex: 1 1px;*/
        flex: 1 1 300px;
        margin-left: 15px;
        text-align: justify;
        .parrafo{ 
            margin-left: 10px;
            display: inline-block;
        }

     }
}